<div id="flash">Invalid url</div>
<h1>Links Index</h1>
<%= link_to "Sign Out", logout_path, method: :delete %>

<h3>Add a new link!</h3>
<form id="new-link" class="form-inline">
  <%= text_field_tag :title, nil, placeholder: "Luxurious Title", class: 'form-control' %>
  <%= text_field_tag :url, nil, placeholder: "What's your link?!", class: 'form-control' %>
<button type="button" name="button" class="btn btn-success" id="save">Save!</button>
</form>

<h3>Check out these links!!</h3>

<div>
  <ul id="links-list">
  </ul>
</div>
